<div class="start">
  <div class="run-server-button" ng-controller="ServerStatusCtrl">
    <div id="session-info" ng-if="isAuthorized([userRoles.student])">
      <span>{{session}}</span>
    </div>
    <div class="server-div" ng-if="isAuthorized([userRoles.admin, userRoles.developer])">
      <div class="server-setting">
        <label>Выбирите сервер:</label>
        <label class="toggle">
          <input id="check-checkbox" type="checkbox" ng-change="setCheckBox()" ng-model="change"/>
          <span class="handle"></span>
        </label>
      </div>
      <div class="server-status">
        <div class='server-run' ng-show="interior_server">
          <span id='interior-start-btn' class='fa fa-play button interior-start-btn' data='Запустить сервер'
                ng-click='runInteriorServer()'></span>
          <span id='interior-stop-btn' class='fa fa-stop button interior-stop-btn' data='Остановить сервер'
                ng-click='stopInteriorServer(url)'></span>
          <p>Внутренний сервер</p>
        </div>
        <div class='server-check' ng-show="!interior_server">
          <span id='check-status-server-btn' class='fa fa-globe button check-status-server-btn'
                data='Проверить статус сервера' ng-click="checkServerStatus()"></span>
          <p>Внешний сервер</p>
        </div>
      </div>
    </div>
    <div class="loader-div">
      <div class="loader">Loading...</div>
    </div>
  </div>

  <div class="title-text">{{nameVL}}</div>
  <div class="run-vl-button">
    <span id="back-btn" class="fa fa-arrow-left button back-btn" data="Выход" ng-click="home()"></span>
    <span id="start-btn-wain-run-server" class="fa fa-play button start-btn" data="Запустить"
          ng-click="generateFn()"></span>
    <span id="check-btn" class="fa fa-check button check-btn" data="Проверить" ng-click="checkFn()"></span>
    <span id="repeat-btn" class="fa fa-repeat button repeat-btn" data="Повторить с текущим вариантом"
          ng-click="repeatFn()" ng-if="isAuthorized([userRoles.admin, userRoles.developer])"></span>
    <span id="refresh-btn" class="fa fa-refresh button refresh-btn" data="Перезапустить с новым вариантом"
          ng-click="generateFn()" ng-if="isAuthorized([userRoles.admin, userRoles.developer])"></span>
  </div>
</div>
<div id="generate_text">
  Задание: <span class="text">{{generate_result.text}}</span>
</div>

<div id ="iFrameCtrl" ng-controller="iFrameCtrl">
  <iframe id="labFrame" name="vl-frame"></iframe>
</div>

<div id="frame" ng-if="isAuthorized([userRoles.admin, userRoles.developer])">
  <div class="panel">
    <span class="fa fa-angle-up button hidden"></span>
    <div class="panel-heading">Информация о виртуальном стенде</div>
  </div>
  <div class="info-all">
    <div id="frame-info">
      <div class="panel panel-default">
        <div class="panel-heading">Кадр</div>
        <table class="table table-frame">
          <tr>
            <td>Задание</td>
            <td><span>{{frame.data}}</span></td>
          </tr>
          <tr>
            <td>Вариант</td>
            <td><span>{{generate_result.text}}</span></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="property">
      <div class="panel panel-default">
        <div class="panel-heading">Свойства</div>
        <table class="table property-table">
          <tr>
            <td>ID</td>
            <td><span>{{frame.id}}</span></td>
          </tr>
          <tr>
            <td>Схема</td>
            <td><span>{{frame.sheme}}</span></td>
          </tr>
          <tr>
            <td>Название кадра</td>
            <td><span>{{frame.name}}</span></td>
          </tr>
          <tr>
            <td>Задание</td>
            <td><span>{{frame.data}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<rlcp-generate></rlcp-generate>

<rlcp-calculate></rlcp-calculate>

<rlcp-check></rlcp-check>