iframe {
  border: none;
}

.non-display{
  display: none;
}

.vlt {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.vlt .dataTables_length{
  margin-left: 9px;
}

.vlt .dataTables_filter{
  margin-right: 5px;
  margin-bottom: 5px;
}

#vl-list_wrapper{
  background: #e6e9ed;
}

.vl-list .table{
  background: #FFFFFF;
}

.vlt .dataTables_paginate{
  margin-bottom: 5px;
}

.vlt .dataTables_info{
  margin-left: 9px;
}

.pagination li {
  display: inline;
  box-sizing: border-box;
}

.pagination li a, .pagination li span {
  padding: 6px 12px;
  margin-left: -1px;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
  color: white;
  background-color: #3bafda;
  border-color: #3bafda;
}

.search-input{
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

.select-input{
  display: inline-block;
  vertical-align: middle;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

.title-text {
  margin-left: 2%;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.vl-list {
  min-width: 550px;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  margin-bottom: 50px;
}

.vl-all {
  min-width: 550px;
  display: inline-table;
  vertical-align: top;
  margin-left: 50px;
  margin-bottom: 50px;
}

#add-vl-block, #vl-settings, #vl-import, #vl-running{
  margin-bottom: 50px;
}

.vl-current {
  min-width: 500px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
}

#generate_text {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.panel-heading {
  font-size: 20px;
  color: #434a54;
  background-color: #e6e9ed;
  border-color: #e6e9ed;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.info-all .table, .vlt .table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.vl-list .list-div .table th:first-child {
  width: 80%;
}

.info-all .table th, .info-all .table td, .vlt .table th, .vlt .table td {
  padding: 9px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.info-all .table th, .vlt .table th {
  text-align: left;
}

.vlt table.dataTable thead th, .vlt table.dataTable thead td{
  border-bottom: none;
}

.vlt table.dataTable.no-footer{
   border-bottom: none;
}

#frame .table,
#generate .table,
#calculate .table
#check .table {
  table-layout: fixed;
}

#frame .table td,
#generate .table td,
#calculate .table td
#check .table td {
  word-wrap: break-word;
}

.vlt .button, #generate .button, #check .button, #calculate .button, .start .button, #frame .button, .title-text .button {
  text-align: center;
  cursor: pointer;
}

.vlt .button:hover, .title-text .button:hover, #generate .button:hover, #check .button:hover, #calculate:hover .button:hover, #frame .button:hover, .run-vl-button .button:hover {
  color: #3bafda;
}

.plusTd, .close, .setting-server-btn, .update-btn, .logout {
  float: right;
  box-sizing: border-box;
  font-size: 24px;
  padding: 4.5px 15px;
}

.logout {
  margin-right: 100px;
}

.run-vl {
  margin-left: 5px;
}

.tune-vl {
  margin-right: 10px;
  margin-left: 10px;
}

.start {
  height: 200px;
  top: 10px;
  width: 100%;
}

.run-server-button {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  right: 20px;
  height: 150px;
  width: 400px;
  display: inline-block;
  border-radius: 8px;
  color: #434a54;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.run-server-button .server-div{
  position: relative;
  padding: 15px;
}

.run-server-button .loader-div{
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: relative;
  top: -178px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .2);
}

.run-server-error {
  background-color: #FFE5E5;
  border: 4px solid #F30303;
}

.run-vl, .tune-vl, .start-vl, .hidden, .import-vl {
  box-sizing: border-box;
  font-size: 18px;
}

.run-vl-button {
  margin-left: 2%;
}

.run-vl-button span {
  border-radius: 8px;
  color: #434a54;
  border-color: #aab2bd;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.start-btn, .check-btn, .repeat-btn, .refresh-btn, .back-btn, .interior-start-btn, .interior-stop-btn, .check-status-server-btn, .interior-start-run {
  float: left;
  box-sizing: border-box;
  font-size: 30px;
  padding: 12px 15px;
  vertical-align: middle;
  display: inline-block;
}

#interior-start-run {
  color: #3bafda;
}

#interior-stop-btn, #wait-start-btn, #start-btn-wain-run-server {
  color: #A7A7A7;
}

.settings-servers {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 30%;
  min-width: 800px;
}

.settings-servers .interior-stop-btn {
  margin-left: 38%;
  margin-top: -15px;
}

.settings-servers table th {
  text-align: center !important;
  font-size: 18px;
}

.settings-servers table th:first-child {
  width: 40%;
}

.settings-servers table th:last-child {
  width: 20%;
}

.check-btn, .repeat-btn, .refresh-btn {
  display: none;
}

.server-status .server-check p {
  padding-top: 22px;
}

.server-status .server-check .error {
  padding-top: 15px;
}

.server-status p {
  margin-bottom: 0;
}

.button:hover, .wrapper-btn:hover {
  position: relative;
}

.button[data]:not(#start-btn-start):not(#interior-start-run):not(#start-btn-wain-run-server):not(#wait-start-btn):not(#interior-stop-btn):hover:after {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  margin-top: 5px;
  content: attr(data);
  padding: 4px 8px;
  color: #FFFFFF;
  background-color: #3bafda;
  position: absolute;
  font-size: 16px;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#start-btn-start {
  color: #3bafda;
  cursor: auto;
}

.running button,
.running button:active,
.running button:focus {
  border: 0;
  background: none;
  outline: none;
  margin-left: 20%;
}

.settings button,
.settings button:active,
.settings button:focus,
.import button,
.import button:active,
.import button:focus {
  border: 0;
  background: none;
  outline: none;
  margin-left: 43%;
  margin-top: 10px;
}

.save-vl, .import-btn {
  box-sizing: border-box;
  font-size: 35px;
}

#generate .hidden, #calculate .hidden, #check .hidden, #generate .show, #calculate .show, #check .show, #frame .hidden, #frame .show {
  float: right;
  box-sizing: border-box;
  font-size: 24px;
  padding: 4.5px 15px;
}

.s-form {
  height: 200px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  color: #434a54;
  border-color: #aab2bd;
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  float: left;
  margin-bottom: 0;
}

.form-control-tune {
  border-radius: 5px;
  color: #434a54;
  height: 25px;
  font-size: 14px;
  border-color: #aab2bd;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  margin-bottom: 0;
}

.form-control-tune[disabled] {
  background-color: #e6e9ed;
  border-color: #e6e9ed;
  cursor: not-allowed;
}

.settings label {
  font-weight: 700;
  margin-left: 10px;
  margin-right: 5px;
}

.settings table {
  border-spacing: 0px 15px;
}

.vl-current .col-xs-6 {
  margin-top: 10%;
  margin-left: 20%;
}

.input-group-btn {
  width: 1%;
  vertical-align: middle;
}

.input-group:focus {
  outline: none;
}

.btn-add {
  color: white;
  display: inline-block;
  height: 62px;
  margin-left: -1px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

label[for='uploader'] {
  position: relative;
  display: block;
  min-height: 2em;
  padding-right: 10px;
  padding-left: 50px;
  cursor: pointer;
}

label[for='uploader']:before {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 30px;
  height: 20px;
  padding: 8px;
  border-radius: 5px;
  background: #3bafda;
  box-shadow: inset 0 -3px 0 0 #3bafda;
  color: white;
  text-align: center;
  font-weight: bold;
}

label[for='uploader']:after {
  content: attr(data-file);
  display: block;
  box-sizing: border-box;
  padding: 0.6em;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-weight: normal;
  color: #434a54;
  font-size: 14px;
  border-color: #aab2bd;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

input[type='file'] {
  display: none;
}

.col-md-3 {
  display: inline-block;
  margin: 20px 50px;
}

.btn-primary {
  background-color: #3bafda;
  border-color: #3bafda;
}

.btn-block {
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
}

.running {
  height: auto;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.settings {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.import {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.import form {
  margin-top: 30px;
  margin-left: 10px;
}

.server-error {
  width: 100%;
  height: 100px;
  color: rgba(232, 76, 61, 1);
  margin-top: 5%;
  font-size: 20px;
  text-align: center;
}

.info-all {
  display: block;
  width: 100%;
}

#frame-info, #property, #generate-info, #generate-result, #check-test, #check-result, #check-answer, #calculate-result, #calculate-answer {
  margin-top: 30px;
  margin-left: 2%;
  width: 46%;
  min-width: 300px;
  display: inline-block;
}

.table-frame, .property-table {
  border-top: 1px solid #ddd;
}

.table-frame tr td:first-child, .property-table tr td:first-child, .generate-table tr td:first-child {
  vertical-align: middle;
  border-right: 1px solid #e6e9ed;
  font-weight: bold;
}

#calculate, #generate, #check {
  margin-top: 15px;
}

#check {
  margin-bottom: 50px;
}

.server-setting {
  width: 100%;
  margin-top: 15px;
  margin-left: 10px;
}

.server-setting .toggle {
  margin-top: -23px;
  margin-left: 160px;
  display: block;
}

#save-property-vl .toggle{
  margin-top: 0px;
  display: block;
}

.toggle input[type="checkbox"]:checked + .handle:after {
  left: 70px;
}

.toggle .handle {
  width: 100px;
}

.history-session-vl, .show-session-vl{
  margin-left: 20px;
}

#history-vl{
  width: auto;
  height: auto;
}

.center-text{
  text-align: center;
}

.toggle input[type="checkbox"]:checked + .handle:before {
  width: 100px;
  background-color: #3bafda;
}

#external-server {
  display: none;
  margin-left: 15px;
}

.server-status {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.server-run p {
  padding-top: 22px;
}

#jsLab {
  margin-bottom: 50px;
  display: inline-block;
}

#session-info {
  text-align: center;
  margin-top: 65px;
}

.approbation-div .list {
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 4px 7px;
  position: absolute;
  margin-left: -1000px;
  background: white;
  box-shadow: 1px 1px 6px rgb(195, 195, 195);
  border-radius: 2px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.approbation-div .list li {
  padding: 3px 5px;
  cursor: pointer;
}

.approbation-div .list li:hover {
  background: lightgray;
}

.approbation-div .show .list {
  margin-left: 280px;
  opacity: 1;
}