<div class="vl-list">
  <div class="list-div, approbation-div">
    <div class="panel panel-default">
      <div class="panel-heading">Информация о прохождении
        <dropdown-list data-items-list="vlCollection" data-student-list="studentCollection" current-dir="currentDir"
                       data-placeholder="Выберите ВЛ"></dropdown-list>
      </div>
      <table class="table" id="vl-list">
        <thead>
        <th>Студент</th>
        <th>Последняя сессия</th>
        <th>Время начала</th>
        <th>Результат</th>
        <th>Просмотреть</th>
        </thead>
        <tbody>
        <tr ng-repeat="(key, listSession) in studentCollection">
          <td>{{key}}</td>
          <td>{{listSession[0].session}}</td>
          <td>{{listSession[0].startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{listSession[0].result.output}} : {{listSession[0].result.result}}</td>
          <td>
            <span class='fa fa-history button history-session-vl' data='История запусков'
                  ng-click="showHistory(key, listSession)"/>
            <span class='fa fa-eye button show-session-vl' data='Просмотреть'
                  ng-click="showSession(currentDir, value[0].session)"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true">
  </dir-pagination-controls>

  <br/>
  <div id="history-vl" class="panel panel-default s-form"
       ng-show="!hide.history" ng-hide="hide.history"
       ng-if="isAuthorized([userRoles.admin, userRoles.developer])">
    <span class="fa fa-times button close" data="Закрыть" ng-click="closeForm('history-vl')"></span>
    <div class="panel-heading">Студент: {{selectedStudent}}</div>
    <div class="panel-body">
      <div class="add-form col-xs-6">
        <table class="table" id="student-history">
          <thead>
            <th>Сессия</th>
          <th>Время начала</th>
          <th>Результат</th>
          <th>Просмотреть</th>
          </thead>
          <tbody>
          <tr ng-repeat="history in selectedHistory">
          <td>{{history.session}}</td>
            <td>{{history.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{history.result.output}} : {{history.result.result}}</td>
            <td center-text>
              <span class='fa fa-eye button show-session-vl' data='Просмотреть'
                    ng-click="showSession(currentDir, history.session)"/>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>