<div class="vl-list">
  <div class="list-div, approbation-div">
    <div class="panel panel-default">
      <div class="panel-heading">Информация о прохождении
        <dropdown-list data-items-list="vlCollection" data-student-list="studentCollection" current-dir="currentDir" data-placeholder="Выберите ВЛ"></dropdown-list>
      </div>

      <form>
        <div>
          <input type="text" class="search-input" ng-model="search" placeholder="Поиск"/>
        </div>
      </form>

      <table class="table" id="vl-list">
        <thead>
        <th ng-click="sort('student')" class="student">Студент
              <span ng-show="sortKey=='student'"
                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <!--<th>Студент</th>-->
        <th>Время начала</th>
        <th>Сессия</th>
        <th>Результат</th>
        <th>Просмотреть</th>
        </thead>
        <tbody>
        <tr dir-paginate="st in studentCollection|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
          <td>{{st.login}}</td>
          <td>{{st.startDate}}</td>
          <td>{{st.session}}</td>
          <td>{{st.result.output}} : {{st.result.result}}</td>
          <td><span class='fa fa-play button show-session-vl' data='Просмотреть' ng-click="showSession(currentDir, st.session)"/></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true">
  </dir-pagination-controls>
</div>