<!DOCTYPE html>
<html ng-app="Vl" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>VLT</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/VLT/css/bootflat.css"/>
  <link rel="stylesheet" href="/VLT/css/vlt_index.css"/>
  <link rel="stylesheet" href="/VLT/css/loader.css"/>
  <script type="text/javascript" src="/VLT/js/lib/jquery.js"></script>
  <script type="text/javascript" src="/VLT/js/lib/angular.min.js"></script>
  <script type="text/javascript" src="/VLT/js/lib/lodash.min.js"></script>
  <script type="text/javascript" src="/VLT/js/lib/jquery.form.js"></script>
  <script type="text/javascript" src="/VLT/js/lib/jquery.fs.selecter.min.js"></script>
  <script type="text/javascript" src="/VLT/js/lib/jquery.fs.stepper.min.js"></script>
  <script type="text/javascript" src="/VLT/js/lib/icheck.min.js"></script>
  <script type="text/javascript" src="/VLT/js/controllers/vl-controller.js"></script>
  <script type="text/javascript" src="/VLT/js/controllers/server-status-controller.js"></script>
  <script type="text/javascript" src="/VLT/js/services/vl-service.js"></script>
  <script type="text/javascript" src="/VLT/js/services/server-status-service.js"></script>
  <script type="text/javascript" src="/VLT/js/controllers/iframe-controller.js"></script>
  <script type="text/javascript" src="/VLT/js/services/iframe-service.js"></script>
  <script>
    function setCalculateResult(res, calculate) {
      var vlCtrl = angular.element($("body")).scope();
      vlCtrl.calculate_result.push({'result': res, 'answer': calculate});
      vlCtrl.$apply();
    }
  </script>
</head>
<body ng-controller="VlCtrl">
<div class="start">
  <div class="run-server-button" ng-controller="ServerStatusCtrl">
    <div class="server-div">
      <div class="server-setting">
        <label>Выбирите сервер:</label>
        <label class="toggle">
          <input id="check-checkbox" type="checkbox" ng-change="setCheckBox()" ng-model="change"/>
          <span class="handle"></span>
        </label>
      </div>
      <div class="server-status">
        <div class='server-run' ng-show="interior_server">
          <span id='interior-start-btn' class='button interior-start-btn' data='Запустить сервер'
                ng-click='runInteriorServer()'></span>
          <span id='interior-stop-btn' class='button interior-stop-btn' data='Остановить сервер'
                ng-click='stopInteriorServer(url)'></span>
          <p>Внутренний сервер</p>
        </div>
        <div class='server-check' ng-show="!interior_server">
          <span id='check-status-server-btn' class='button check-status-server-btn'
                data='Проверить статус сервера' ng-click="checkServerStatus()"></span>
          <p>Внешний сервер</p>
        </div>
      </div>
    </div>
    <div class="loader-div">
      <div class="loader">Loading...</div>
    </div>

  </div>
  <div class="title-text">{{nameVL}}</div>
  <div class="run-vl-button">
    <span id="back-btn" class="button back-btn" data="Выход" ng-click="home()"></span>
    <span id="start-btn-wain-run-server" class="button start-btn" data="Запустить" ng-click="generateFn()"></span>
    <span id="check-btn" class="button check-btn" data="Проверить" ng-click="checkFn()"></span>
    <span id="repeat-btn" class="button repeat-btn" data="Повторить с текущим вариантом" ng-click="repeatFn()"></span>
    <span id="refresh-btn" class="button refresh-btn" data="Перезапустить с новым вариантом" ng-click="generateFn()"></span>
  </div>
</div>
<div id="generate_text">
  Задание: <span class="text">{{generate_result.text}}</span>
</div>
<div ng-app="iFrame" ng-controller="iFrameCtrl">
  <iframe id="labFrame" name="vl-frame"></iframe>
</div>


<div id="frame">
  <div class="panel">
    <span class="button hidden"></span>
    <div class="panel-heading">Информация о виртуальном стенде</div>
  </div>
  <div class="info-all">
    <div id="frame-info">
      <div class="panel panel-default">
        <div class="panel-heading">Кадр</div>
        <table class="table table-frame">
          <tr>
            <td>Задание</td>
            <td><span>{{frame.data}}</span></td>
          </tr>
          <tr>
            <td>Вариант</td>
            <td><span>{{generate_result.text}}</span></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="property">
      <div class="panel panel-default">
        <div class="panel-heading">Свойства</div>
        <table class="table property-table">
          <tr>
            <td>ID</td>
            <td><span>{{frame.id}}</span></td>
          </tr>
          <tr>
            <td>Схема</td>
            <td><span>{{frame.sheme}}</span></td>
          </tr>
          <tr>
            <td>Название кадра</td>
            <td><span>{{frame.name}}</span></td>
          </tr>
          <tr>
            <td>Задание</td>
            <td><span>{{frame.data}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="generate">
  <div class="panel">
    <span class="button hidden"></span>
    <div class="panel-heading">Generate</div>
  </div>
  <div class="info-all">
    <div id="generate-info">
      <div class="panel panel-default">
        <div class="panel-heading">Описание блока Generate</div>
        <table class="table generate-table">
          <tr>
            <td>DefaultCode</td>
            <td colspan="2"><span id="preText">{{generate.code}}</span></td>
          </tr>
          <tr>
            <td>DefaultText</td>
            <td colspan="2"><span>{{generate.text}}</span></td>
          </tr>
          <tr>
            <td>DeafaultInstructions</td>
            <td colspan="2"><span>{{generate.instructions}}</span></td>
          </tr>
          <tr>
            <td>Algorithm</td>
            <td colspan="2"><span id="algorithm">{{algorithm}}</span></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="generate-result" ng-show="generate_result != null">
      <div class="panel panel-default">
        <div class="panel-heading">Ответ метода Generate</div>
        <table class="table generate-table">
          <tr>
            <td>Code</td>
            <td>{{generate_result.code}}</td>
          </tr>
          <tr>
            <td>Text</td>
            <td>{{generate_result.text}}</td>
          </tr>
          <tr>
            <td>Instructions</td>
            <td>
              <div>{{generate_result.instructions}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
<div id="calculate" ng-show="calculate_result.length">
  <div class="panel">
    <span class="button hidden"></span>
    <div class="panel-heading">Calculate</div>
  </div>
  <div class="info-all">
    <div id="calculate-answer">
      <div class="panel panel-default">
        <div class="panel-heading">Ответ пользователя</div>
        <table class="table check-table">
          <tbody>
          <tr ng-repeat="cl in calculate_result">
            <td>
              {{cl.result}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="calculate-result">
      <div class="panel panel-default">
        <div class="panel-heading">Ответ метода Calculate</div>
        <table class="table check-table">
          <thead>
          <tr class="table_tit">
            <th>Code</th>
            <th>Text</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="cl in calculate_result">
            <td>{{cl.answer.code}}</td>
            <td>{{cl.answer.text}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="check">
  <div class="panel">
    <span class="button hidden"></span>
    <div class="panel-heading">Check</div>
  </div>
  <div class="info-all">
    <div id="check-test">
      <div class="panel panel-default">
        <div class="panel-heading"> Список тестовых наборов</div>
        <table class="table check-table">
          <thead>
          <tr class="table_tit">
            <th>ID</th>
            <th>Ограничение по времени</th>
            <th>Входной набор</th>
            <th>Выходной набор</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="ch in check">
            <td type="id">{{ch.id}}</td>
            <td type="time">{{ch.time}}</td>
            <td type="input">{{ch.input}}</td>
            <td type="output">{{ch.output}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="check-result" ng-show="check_result.length">
      <div class="panel panel-default">
        <div class="panel-heading">Ответ метода Check</div>
        <table class="table check-table">
          <thead>
          <tr class="table_tit">
            <th>ID</th>
            <th>Занятое время</th>
            <th>Итог</th>
            <th>Комментарий сервера</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="ch in check_result">
            <td>{{ch.id}}</td>
            <td>{{ch.time}}</td>
            <td>{{ch.result}}</td>
            <td>{{ch.output}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="check-answer" ng-show="check_answer != null">
      <div class="panel panel-default">
        <div class="panel-heading">Ответ метода Check</div>
        <table class="table check-table">
          <thead>
          <tr class="table_tit">
            <th>Ответ пользователя</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{check_answer}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>